.DS_Store
.python-version
data/*
data/**/*
data/**/**/*
!data/.gitkeep
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
data/model/*
!data/model/.gitkeep
data/model/lgb/model.lgb
!data/model/lgb/.gitkeep

__pycache__/
*.pyc

*.csv
*.pkl

*.egg-info/
